name: Build Kernels and Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_kernel:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - sub_level: "41"
          os_patch_level: "2022-06"
        - sub_level: "41"
          os_patch_level: "2022-07"
        - sub_level: "41"
          os_patch_level: "2022-08"
        - sub_level: "41"
          os_patch_level: "2022-09"
        - sub_level: "41"
          os_patch_level: "2022-10"
        - sub_level: "41"
          os_patch_level: "2022-11"
        - sub_level: "74"
          os_patch_level: "2022-12"
        - sub_level: "74"
          os_patch_level: "2023-01"
        - sub_level: "78"
          os_patch_level: "2023-02"
        - sub_level: "78"
          os_patch_level: "2023-03"
        - sub_level: "94"
          os_patch_level: "2023-04"
        - sub_level: "94"
          os_patch_level: "2023-05"
        - sub_level: "104"
          os_patch_level: "2023-06"
        - sub_level: "104"
          os_patch_level: "2023-07"
        - sub_level: "119"
          os_patch_level: "2023-08"
        - sub_level: "119"
          os_patch_level: "2023-09"
        - sub_level: "123"
          os_patch_level: "2023-10"
        - sub_level: "123"
          os_patch_level: "2023-11"
        - sub_level: "137"
          os_patch_level: "2023-12"
        - sub_level: "137"
          os_patch_level: "2024-01"
        - sub_level: "144"
          os_patch_level: "2024-02"
        - sub_level: "144"
          os_patch_level: "2024-03"
        - sub_level: "148"
          os_patch_level: "2024-04"
        - sub_level: "148"
          os_patch_level: "2024-05"
        - sub_level: "149"
          os_patch_level: "2024-06"
        - sub_level: "149"
          os_patch_level: "2024-07"
        - sub_level: "151"
          os_patch_level: "2024-08"
        - sub_level: "153"
          os_patch_level: "2024-09"
        - sub_level: "167"
          os_patch_level: "2024-11"
        - sub_level: "170"
          os_patch_level: "2025-01"
        - sub_level: "178"
          os_patch_level: "2025-03"
        - sub_level: "180"
          os_patch_level: "2025-05"
        - sub_level: "185"
          os_patch_level: "2025-07"
        - sub_level: "189"
          os_patch_level: "2025-09"
        - sub_level: "194"
          os_patch_level: "2025-12"
        - sub_level: "X"
          os_patch_level: "lts"
    continue-on-error: true

    steps:
      - uses: actions/checkout@v3

      - name: Set environment
        run: |
          echo "ANDROID_VERSION=android13" >> $GITHUB_ENV
          echo "KERNEL_VERSION=5.15" >> $GITHUB_ENV
          echo "SUB_LEVEL=${{ matrix.sub_level }}" >> $GITHUB_ENV
          echo "OS_PATCH_LEVEL=${{ matrix.os_patch_level }}" >> $GITHUB_ENV
          echo "DATE=$(TZ=Asia/Jakarta date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "ARTIFACT=$GITHUB_WORKSPACE/artifact" >> $GITHUB_ENV

      - name: Make build.sh executable
        run: chmod +x ./build.sh

      - name: Build kernel
        run: |
          mkdir -p ${{ env.ARTIFACT }}
          ./build.sh ${{ env.ANDROID_VERSION }} ${{ env.KERNEL_VERSION }} ${{ env.SUB_LEVEL }} ${{ env.OS_PATCH_LEVEL }} ${{ env.DATE }} ${{ env.ARTIFACT }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "kernel-${{ env.ANDROID_VERSION }}-${{ env.KERNEL_VERSION }}-${{ env.SUB_LEVEL }}-${{ env.OS_PATCH_LEVEL }}"
          path: ${{ env.ARTIFACT }}/*

  create_release:
    needs: build_kernel
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup git authentication
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/nevadamurdock/common-android13-5.15
      - name: Set DATE and TAG
        run: |
          DATE=$(TZ=Asia/Jakarta date +%Y%m%d%H%M)
          echo "TAG=$DATE" >> $GITHUB_ENV

      - name: Create Git tag
        run: |
          git tag -a "$TAG" -m "KSUN & SuSFS"
          git push origin "$TAG"

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifact

      - name: Upload artifacts to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.TAG }}
          files: artifact/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}@github.com/nevadamurdock/common-android13-5.15

